<div class="nav-bar">
    <div>
        <img class="nav-logo" src="https://news.ycombinator.com/y18.gif">
    </div>
    <p>Hacker News</p>
        <li routerLinkActive="active">
            <a href="past">past</a> 
        </li>
        <li routerLinkActive="active">
            <a href="news">news</a> 
        </li>
        <li routerLinkActive="active">
            <a href="submit">submit</a> 
        </li>
        <a *ngIf="check()" href="/login" routerLinkActive="active" >login</a>
<div *ngIf="!check()">
    <span>{{user}}</span>
    <button (click)="logout()">logout</button>
</div>
        
</div>

<router-outlet></router-outlet>